<figure id="figure_login">
    <video src="../public/img/vid3.mp4" autoplay muted loop></video>
    <div class="inner">
        <h1>POLAROID</h1>
        <p>The most beautiful thing in the world is, of course, the world itself.</p>
        <a href="login">Start</a>
    </div>    
</figure>

