<footer>
    <div class="inner">
        <div class="upper">
            <h1>POLAROID</h1>
            <ul>
                <li><a href="/mypage">My Page</a></li>

            </ul>
        </div>
        <div class="lower">
            <address>
                CONTACT <br>
                TEL : 031-000-0000  C.P : 010-1234-5678
            </address>
            <p>
                POLAROID &copy;  copyright all rights reserved.
            </p>
        </div>
    </div>
</footer>