<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/50ce6b0061.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/upload_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <title>POLAROID</title>
</head>
<body>
    <div id="img_area"></div>
    <section>
        <ul id="upper_menu">
            <form method="post" action="/process/move">
                <li>
                    <input type="submit" value="x" name="back">
                </li>
            </form>
            <form>
                <li>
                    <button id="deleteImage" onclick="fileReset(this.form);">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                    </button>
                </li>
            </form>
        </ul>
        <form method="post" action="/process/upload" enctype="multipart/form-data">
            <div id="upload-section">
                <div id="upload">
                    <label class="input-file-button" for="inputImage">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 
                    </label>
                    <input type="file" id="inputImage" name="image"/>
                </div>
                <img src="" class="uploadImage">
                <ul>
                    <li><input id="imageTitle" placeholder=" title" oninput="insertTitle()" name="title" maxlength="20"></li>
                    <li><textarea id="imageDescription" placeholder=" Description" maxlength="200" name="content"></textarea></li>
                    <li><input type="submit" id="sendButton" value="upload"></li>
                </ul>
            </div>
        </form>
    </section>

    <script src="../public/upload_client.js"></script>
</body>
</html>