* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}


body, h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Raleway', sans-serif !important;
  }

body {
    height: 100vh;
    background: linear-gradient(to right, #afcce8, #cfdeec );
    background-color: #b6c4d1;
    display: flex;
    justify-content: center;
    align-content: center;
}

section {
    top: 50%;
    transform:translate(0,-50%);
    position: relative;
	width: 500px;
    height: 600px;
	padding: 70px;
	background-color: #fff;
	margin: auto;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

section .login {
	position: absolute;
    width: 360px;
}

section .login li {
    width: 360px;
    margin-bottom: 10px;
}

section .login li:nth-of-type(2) {
    margin-bottom: 10px;
}

section .login li label {
    font: 1rem 'Fira Sans',
    sans-serif;
}

section .login li h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

section .login li h1 a{
    font-family: 'Kaushan Script', cursive;
    font: bold 24px/1;
	color: #666;
}

section .login li input[type='text'], input[type='password'] {
    padding: 10px 12px;
    border: 1px solid #666;
    width: 100%;
    height: 40px;
}

section .login li:nth-child(4) {
    text-align: right;
}

section .login li #login_btn {
    width: 100%;
    height: 35px;
    border: 1px solid #cfdeec;
    background-color: #cfdeec;
	font: bold 11px/30px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 70px;
	box-shadow: 5px 5px 10px rgba(207, 222, 236, 0.6);
	border-radius: 4px;
}

section .login .sign {
    text-align: center;
}

section .login .sign a {
    color:#0489B1;
}