@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit; /* 링크의 색상 제거 */
}

body, h2, h3, h4, h5, h6, p, span {
    font-family: 'Raleway', sans-serif !important;
  }

/* header */
header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

header .inner #mainhref {
	font-family: 'Kaushan Script', cursive;
	text-align:left;
	position: absolute;
    margin-left: 150px;
    font-size: 40px;
	left: 0px;
	bottom: 15px;
	width: 210px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	font-weight: bold;
	color: #555;
}

header .inner #mainhref:hover{
	cursor: pointer;
}


header .inner {
    width: 100%;
    height: 120px;
    margin: 0px auto;
    position: relative;
}


header .inner .util{
	position: absolute;
	top: 20px;
	right: 150px;
}

header .inner .util li {
	float: left;
}

header .inner .util li a {
	display: block;
	font: 15px/1 "arial";
	color: #888;
	padding: 0px 10px;
}



/* section */
section {
	width: 100%;
    height: 800px;
	padding: 100px 0px;
    background-color: #efefef;
	position: relative;
    display: flex;
}

section .side_menu {
	width: 400px;
}

section .side_menu h1 {
    font-size: 45px;
    margin-bottom: 70px;
}

section .side_menu ul {
    margin-left: 150px;
}

section .side_menu ul li {
    width: 250px;
    height: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #666;
    transition: 0.5s;
    font-size: 17px;
}

section .side_menu ul li:hover {
	transform: scale(1.2);
    height: 30px;
    font-size: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #666;
}

section .inner {
    width: 800px;
	height: 800px;
}

section .inner .wrap {
	height: 500px;
	position: relative;
	margin-left: 150px;
	margin-right: 150px;
}

section .inner .wrap h2 {
	margin-bottom: 50px;

}

section .inner .wrap ul {
	margin-top: 50px;
}

section .inner .wrap li {
	margin-bottom: 50px;
	display: flex;
}

section .inner .wrap li label{
	width: 150px;
	height: 30px;
	margin-right: 50px;
	line-height: 30px;
}

section .inner .wrap li input[type='text'],input[type='password'] {
	width: 300px;
	height: 30px;
	padding: 12px 12px;
}

section .inner .wrap #update_btn, #withdrawal {
	position: absolute;
	left: 400px;
	bottom: 70px;
	width: 100px;
	height: 30px;
	background-color: #333;
	color: white;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

section .inner .caution {
	margin-left: 150px;
}

section .inner .caution p {
	margin-left: 55px;
	color: #555;
}

/* footer */
footer {
    width: 100%;
    background: #333;
	padding: 100px 0px;
	border-top: 1px solid #888;
}

footer .inner {
	margin-left: 150px;
	margin-right: 170px;
}

footer .inner .upper::after { /* 상단 영역 float 해제 */
	content: "";
	display: block;
	clear: both;
}

footer .inner .upper h1 {
	float: left;
	font-family: 'Kaushan Script', cursive;
	font: bold 24px/1;
	color: #666;
}

footer .inner .upper ul {
	float: right;
}

footer .inner .upper ul li {
	float: left;
	margin-left: 20px;
}

footer .inner .upper ul li a {
	font: bold 14px/1 "arial";
	color: #666;
}

footer .inner .lower {
	width: 100%;
	padding-top: 20px;
}

footer .inner .lower address {
	width: 100%;
	font: 12px/1.3  "arial";
	color: #777;
	margin-bottom: 20px;
}

footer .inner .lower p {
	width: 100%;
	font: 12px/1 "arial";
	color: #777;
}
